{% extends 'base/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{course.name}}</h3>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <p><b>主讲教师</b>: {{course.teacher}}</p>
                <p><b>开课院系</b>: {{course.apartment.name}}</p>
                <p><b>学分</b>: {{course.credit}}</p>
                <p><b>课程特色</b>: {{course.feature}}</p>
            </div>
            <div class="col-xs-4">
                <p><b>课程号</b>: {{course.course_id}}</p>
                <p><b>本科生课容量</b>: {{course.undergraduate_capacity}}</p>
                <p><b>研究生课容量</b>: {{course.postgraduate_capacity}}</p>
                <p><b>年级</b>: {{course.grade}}</p>
            </div>
            <div class="col-xs-4">
                <p><b>是否二级选课</b>: {% if course.second_choose_flag %}是{% else %}否{% endif %}</p>
                <p><b>是否重修占容量</b>: {% if course.retake_flag %}是{% else %}否{% endif %}</p>
                <p><b>是否选课时限制</b>: {% if course.choose_restrict_flag %}是{% else %}否{% endif %}</p>
                <p><b>本科文化素质课组</b>: {{course.group}}</p>
            </div>
        </div>
        <p><b>选课文字说明</b>: {{course.explain}}</p>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h5>&nbsp;{{course.coursecomment_set.count}} 条课程评价</h5>
        <hr/>
        {% for comment in comments  %}
            <p>{{comment.content}}</p>
            <p style="text-align: right">
                {% bootstrap_icon 'user' %}&nbsp;{{comment.author.username}}&nbsp;
                {% bootstrap_icon 'time' %}&nbsp;{{comment.created_at}}&nbsp;
            </p>
            <hr/>
        {% endfor %}
    </div>
</div>

{% if user.is_authenticated %}
<div class="col-xs-6 col-md-offset-3">
    <h5>创建评价</h5>
    <form method="post" action="/create_comment?id={{course.id}}">
        {% csrf_token %}
        <div class="form-group">
            <textarea id="comment" name="comment" class="form-control" rows="5" placeholder="请写下你对该课程的评价" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary" style="float:right">创建评价</button>
        <div class="checkbox" style="float:right">
		    <label>
			    <input type="checkbox"> 匿名评价&nbsp;&nbsp;&nbsp;
		    </label>
	    </div>
    </form>
</div>
{% endif %}

{% endblock %}
