{% extends 'base/base.html' %}
{% block content %}
<div class="col-lg-6 col-lg-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="输入课程信息">
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit">搜索</button>
            </span>
        </div>
</div>
<table class="table table-striped">
  <caption></caption>
  <thead>
    <tr>
      <th>课程</th>
      <th>院系</th>
      <th>教师</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tanmay</td>
      <td>Bangalore</td>
      <td>560001</td>
    </tr>
</table>
{% endblock %}
