<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>autogradROC</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
	<h2 class="text-center">智能课程表</h2>
    <br>
    <br>
    <div class="col-lg-8 col-lg-offset-2">
    <table class="table table-bordered" style="word-break:break-all; word-wrap:break-all;">
        <thead>
            <tr>
                <th></th>
                <th class="text-center">星期一</th>
                <th class="text-center">星期二</th>
                <th class="text-center">星期三</th>
                <th class="text-center">星期四</th>
                <th class="text-center">星期五</th>
                <th class="text-center">星期六</th>
                <th class="text-center">星期日</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>第一节</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>第二节</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>第三节</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>第四节</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>第五节</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>第六节</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>
    <br>
    <br>
    <div class="col-lg-8 col-lg-offset-2">
        <button type="submit" class="btn btn-success pull-left">上一方案</button>
        <button type="submit" class="btn btn-success pull-right">下一方案</button>
    </div>
</body>