<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ROC</title>
  {% load static %}
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  {% block scripts %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	        <div class="navbar-header">
		        <a class="navbar-brand" href="">ROC</a>
	        </div>
	        <div>
				<ul class="nav nav-pills col-lg-offset-2">
    				<li class="col-lg-2"><a href="{% url 'index' %}">课程列表</a></li>
	    			<li class="col-lg-2"><a href="#">智能课表</a></li>
	    	    </ul>
		        <ul class="nav navbar-nav navbar-right">
		            {% if user.is_authenticated %}
		            <li><a href="#">个人中心</a></li>
		            <li><a href="{% url 'logout' %}">登出({{user.username}})</a></li>
		            <li><a href="#">头像</a></li>
		            {% else %}
		            <li><a href="{% url 'login' %}">登录</a></li>
		            <li><a href="{% url 'signup' %}">注册</a></li>
		            {% endif %}
                </ul>
	        </div>
	    </div>
    </nav>
    <br>
	<br>
    <div class="container">
        <section id="content">{% block content %}{% endblock %}</section>
        <footer class="footer">
            <p>&copy; 2017 autograd</p>
        </footer>
    </div>
</body>
</html>