{% extends 'base/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="col-lg-6 col-lg-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="输入课程信息">
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit">搜索</button>
            </span>
        </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
<table>
    <tbody class="table">
        {% for post in posts %}
        <tr>
            <td><a href="{% url 'post' post.id %}">{{post.title}}</a>
            <div class="pull-right">
                {% bootstrap_icon 'user' %}<b>{{post.author}}</b>
                {% bootstrap_icon 'time' %}{{post.created_at}}
            </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
