{% extends 'user_center/user_center.html' %}

{% block user_center_content %}
    <ul class="list-group">
        <li class="list-group-item clearfix">
            <div class="word-wrap">
                <h3>课程收藏</h3>
            </div>
        </li>
        <li class="list-group-item clearfix">
            <div class="word-wrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>课程</th>
                            <th>教师</th>
                            <th>院系</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>
                            <td><a href="/course_detail?id={{course.id}}">{{course.name}}</a></td>
                            <td>{{course.teacher}}</td>
                            <td>{{course.apartment.name}}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </li>
    </ul>
{% endblock %}