{% extends 'user_center/user_center.html' %}

{% block user_center_content %}
    <ul class="list-group">
        <li class="list-group-item clearfix">
            <div class="word-wrap">
                <h3>课程收藏</h3>
            </div>
        </li>
        <li class="list-group-item clearfix">
            <div class="word-wrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>课程</th>
                            <th>教师</th>
                            <th>院系</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in star_courses %}
                        <tr>
                            <td><a href="/course_detail?id={{course.id}}">{{course.name}}</a></td>
                            <td>{{course.teacher}}</td>
                            <td>{{course.apartment.name}}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
            <ul class="pager">
                <li><a href="?page=1">首页</a></li>
                {% if star_courses.has_previous %}
                    <li><a href="?page={{ star_courses.previous_page_number }}">上一页</a></li>
                {% endif %}
                <li> &nbsp{{ star_courses.number }} / {{ star_courses.paginator.num_pages }}&nbsp </li>
                {% if star_courses.has_next %}
                    <li><a href="?page={{ star_courses.next_page_number }}">下一页</a></li>
                {% endif %}
                <li><a href="?page={{ star_courses.paginator.num_pages}}">末页</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}