{% extends 'user_center/user_center.html' %}
{% block user_center_sidebar %}
<h3>个人中心</h3>
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'user_info' %}">个人信息</a></li>
        <li><a href="">课程收藏</a></li>
        <li><a href="">课程评价</a></li>
        <li><a href="">课表收藏</a></li>
</ul>
{% endblock %}

{% block user_center_content %}
{% load static %}
<form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <ul class="list-group">
        <li class="list-group-item clearfix">
            <div class="word-wrap">
                <h3>个人信息</h3>
            </div>
        </li>
        <li class="list-group-item clearfix">
            <div class="word-wrap">
                <div class="col-md-3" style="top:1em;float:right">
                    <img src="{% static 'img/default_avatar.jpg' %}" width="120em" height="120em">
                    <p>&nbsp;</p>
                    <input type="file" id="avatar" name="avatar"/>
                </div>
                <div class="col-md-7">
                <table class="table" style="margin-bottom:0">
                    <tbody>
                        <tr>
                            <td style="border-top:0">
                                <div class="form-group" style="display:inline-block;margin-bottom:0">
                                    <label for="nickname" style="float:left;padding-top:7px">用户名:&nbsp;&nbsp;{{user.username}}</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top:0">
                                <div class="form-group" style="display:inline-block;margin-bottom:0">
                                    <label for="email" style="float:left;padding-top:7px">邮箱:&nbsp;&nbsp;
                                    </label>
                                    <input type="email" value="{{ user.email }}" id="email" name="email" class="form-control" placeholder="邮箱" required style="float:left;width:30em" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top:0">
                                <div class="form-group" style="display:inline-block;margin-bottom:0">
                                    <label for="nickname" style="float:left;padding-top:7px">昵称:&nbsp;&nbsp;</label>
                                    <input type="text" value = "{{ user.username }}" id="nickname" name="nickname" class="form-control" required style="float:left;width:30em" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top:0">
                                <div class="form-group" style="display:inline-block;margin-bottom:0">
                                    <label for="nickname" style="float:left;padding-top:7px">年级:&nbsp;&nbsp;</label>
                                    <input type="text" value = "{{ user.username }}" id="nickname" name="nickname" class="form-control" required style="float:left;width:30em" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </li>
        <li class="list-group-item clearfix">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">修改</button>
            </div>
        </li>
    </ul>
</form>
{% endblock %}